/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
 box-sizing: border-box;
}

.app {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 52px;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
}

.global-nav {
     display: block;
     width: 100%;
     background: red;
 }

.nav-logo{}

.nav-tools{}

.nav-search-bar{}

.nav-login{}

.nav-signup{}

.footer {
    position: absolute;
    bottom: 0;
    height: 52px;
    width: 100%;
    background: black;
    color: grey;
}

.footer-nav{}

.footer-nav-list{}

.footer-nav-list > li {}


/* This is be used for the header */
/* img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
} */
