/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .group:after {
    content: "";
    display: block; 
    clear: both;
} */

* {
 box-sizing: border-box;
}

.app {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 52px;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
}

.header-nav {
     display: flex;
     width: 100%;
     height: 64px;
     background-color: grey;
     padding: 0 24px 0 24px;
 }

 .nav-logo-container{
     display: flex;
     background-color: turquoise;
     height: 64px;
     width: 87px;
 }

.nav-logo{
    background-color: violet;
    justify-content: center;
    /* margin-left: 15px; */

}

.nav-tools{
    justify-content: center;
    align-items: center;
}

.nav-tools > *{
    float: left;
}

.nav-search-bar{
    background-color: lightgreen;
    border: black solid 2px;
}

.nav-search-input{
    background-color: lightsalmon;
}

.nav-login{
    background-color: red;
}

.nav-signup{
    background-color: blue;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 52px;
    width: 100%;
    background-color: black;
    color: grey;
}

.footer-nav{}

.footer-nav-list{}

.footer-nav-list > li {}


/* This is be used for the header */
/* img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
} */
