.create-content-container{
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}   

.create-form-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 5px;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
}

.create-icon{
    height: 50px;
    width: 50px;
    margin-bottom: 0.25rem;
}

.create-form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
}

.title-input{
    margin-bottom: 0.5rem;
    padding: 5px 16px;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 1rem;
}

.img_url-input{
    margin-bottom: 0.5rem;
    padding: 5px 16px;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 1rem;
}

.create-container{
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}   

.create-submit{
    background-color: firebrick;
    color: white;
    padding: 8px 24px;
    border-radius: 3px;
    font-weight: 600;
    width: 80%;
    font-size: 1rem;
}

.create-submit:hover{
    background-color: rgb(230, 38, 38);
}

.create-pillow{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    border-bottom: 1px solid darkgrey;
}

.create-return-container{
    display: flex;
    white-space: nowrap;
    align-content: center;
    height: 32px;
}

.create-return{
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
    padding: 0 20px;
    border-radius: 3px;
    color: black;
    font-weight: 500;
}

.create-return:hover{
    transition: 0.3s;
    color: grey; 
}