
.header-nav {
     display: flex;
     background-color: #212124;
     padding: 0 24px 0 24px;
 }

.nav-logo-container{
     display: flex;
     height: 64px;
     width: 87px;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-entry-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    margin-left: auto;
    width: 100%;
}

.nav-search-bar-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 33px;
    padding: 0 100px 0 100px;
    margin-left: 23px;
}

.nav-search-bar{
    display: flex;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    color: dimgray;
    border-radius: 3px;
}

.fas {
    margin: 8px 0 7px 11px;
}

.nav-search-pillow{
    margin: 0 3px 0 5px;
}

.nav-search-input{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 13px;
    border-radius: 3px;
}

.nav-entry-container{
    display: flex;
    align-items: center;
}

.nav-login{
    white-space: nowrap;
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.signup-container{
    display: flex;
    white-space: nowrap;
    align-content: center;
    height: 32px;
    margin-left: 23px;
}

.nav-signup{
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
    padding: 0 20px;
    border-radius: 3px;
    color: black;
    font-weight: 500;
}

.nav-signup:hover{
    transition: 0.3s;
    color: grey;
}

.nav-exit-tools{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 12px;
    margin-left: auto;
    width: 100%;
}

.nav-greeting{
    color: white;
    font-size: 20px;
    padding-right: 5px;
}

.nav-logout-container{
    display: flex;
    white-space: nowrap;
    align-content: center;
    height: 32px;
    margin-left: 23px;
}

.nav-logout{
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
    padding: 0 20px;
    border-radius: 3px;
    color: black;
    font-weight: 500; 
    font-size: 100%;
}